<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>  
      <script type="text/javascript" src="/js/homeHandler.js"></script>    
    </head>
    <title>Twit-Node</title>
    <body>
        <div class="full-background"></div>
        <nav class="navbar navbar-expand-lg navbar-dark dashboard-bg">
                <a class="navbar-brand" href="/">Twit-Node</a>
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./notifications">Notifications</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link" href="#">Messages</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                  <li class="nav-item">
                      <a class="nav-link" href="/users/logout">Logout</a>
                    </li>
              </nav>
              <form class="form-inline my-2 my-lg-0 tweet-form" action="/tweet/status"  onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
                <textarea class="tweet-input" type="text" id="status" name="status" placeholder="What's happening?" autocomplete="off"></textarea>
                <button class="tweet-button tweet-danger" disabled>Tweet</button>
              </form>

                <% if (typeof tweets != "undefined") { %>
                  <% tweets.reverse().forEach( (tweet) => { %>
                    <div class="tweet">
                      <img class="user-pic" src="/imgs/user.png">
                      <a class="tweet-date"> • <%= tweet.date %></a>
                      <a class="username" href="#"><%= tweet.username %></a>
                      <% if (username == tweet.username) {%>
                      <form action='/tweet/<%= tweet.id %>/status?_method=DELETE' method='POST'>
                        <button class="btn btn-outline-danger remove-button" type="submit">remove</button>
                      </form>
                      <% } %>
                      <div class="tweet-context">
                        <a class="tweet-body"><%= tweet.body %></a>
                      </div>


                      <hr>


                      <% tweet.comments.forEach( (comment) => { %>
                        <div class="comment-container">
                        <img class="comment-pic" src="/imgs/user.png">
                        <a class="tweet-date"> • <%= comment.date %></a>
                        <a class="comment-username" href="#"><%= comment.username %></a>
                        <a class="comment-body"><%= comment.body %></a>
                        </div>
                      <% }) %> 
                      <form action="/tweet/<%= tweet.id %>/comments" method="POST">
                        <textarea class="tweet-comment" id="comments" name="comments" type="text" placeholder="Enter a comment"></textarea>
                        <button class="comment-button" onclick="return isEmpty()">Reply</button>
                      </form>
                  </div>
                  <% }); %>
                <% } %>

                
                <footer>
                  <a>Twitter is a registered trademark of Twitter Inc. This project is just for educational purpose only.</a>
                </footer>
    </body>
</html>