<!DOCTYPE html>
<!--index.ejs-->
<html>
    <head>
      <% include ./partials/head %>   
    </head>
    <body>
        <div class="full-background"></div>

        <% include ./partials/body %>

        <div class='col-wrapper'>
          <div id='user-sidebar'>
            <div id='user-banner' onclick="location.href = '/user/<%= username %>'">

            </div>
            <div id='user-sidebar-info'>
              <img class="user-pic" style='margin-top: -30px; height: 70px; width: 70px; border: 3px solid #10171e' 
                onclick="location.href = '/user/<%= username %>'" src="/imgs/img.jpg">
              <a class='username bio-username' style='font-size: 20px; color: white;' onclick="location.href = '/user/<%= username %>'">@<%= username %></a>
            </div>
            <div id='user-bottom-column'>
              <div class='col-item'>
                <a class='col-title'>Tweets</a>
              </div>
              <div class='col-item'>
                <a class='col-title'>Following</a>
              </div>
              <div class='col-item'>
                <a class='col-title'>Followers</a>
              </div>
              <div class='col-stats'>
                <a class='stats-title'><%= user.tweets.length %></a>
              </div>
              <div class='col-stats'>
                  <a class='stats-title'><%= user.following.length %></a>
              </div>
              <div class='col-stats'>
                  <a class='stats-title'><%= user.followers.length %></a>
              </div>
            </div>
          </div>
            <div class='tweet-wrapper'></div>
              <form class="form-inline my-2 my-lg-0 tweet-form" action="/tweet/status"  onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="POST">
                <textarea class="tweet-input" type="text" id="status" name="status" placeholder="What's happening?" autocomplete="off"></textarea>
                <button class="tweet-button tweet-danger" disabled>Tweet</button>
              </form>
                <% if (typeof tweets != "undefined") { %>
                  <% var i = 0; %>
                  <% tweets.reverse().forEach( (tweet) => { %>
                    <div class="tweet" id="tweet<%=i++%>">
                      <img class="user-pic" src="/imgs/img.jpg" onclick="location.href = '/user/<%= tweet.username %>'">
                      <a class="tweet-date"> • <%= tweet.date %></a>
                      <a class="username" href="/user/<%=tweet.username%>"><%= tweet.username %></a>
                      <% if (username == tweet.username) {%>
                      <form action='/tweet/<%= tweet.id %>/status?_method=DELETE' method='POST'>
                        <button class="btn btn-outline-danger remove-button" type="submit">remove</button>
                      </form>
                      <% } %>
                      <div class="tweet-context">
                        <a class="tweet-body"><%= tweet.body %></a>
                      </div>


                      <hr>
                      <% tweet.comments.forEach( (comment) => { %>
                        <div class="comment-container">
                        <img class="comment-pic" src="/imgs/user.png" onclick="location.href = '/user/<%= comment.username %>'">
                        <a class="tweet-date"> • <%= comment.date %></a>
                        <a class="comment-username" href = '/user/<%= comment.username %>'><%= comment.username %></a>
                        <a class="comment-body"><%= comment.body %></a>
                        </div>
                      <% }) %> 
                      <% var k = 0; %>
                      <form action="/tweet/<%= tweet.id %>/comments" method="POST">
                        <textarea class="tweet-comment" id="comments<%=k++%>" name="comments" type="text" placeholder="Enter a comment"></textarea>
                        <button class="comment-button" onclick="return isEmpty()">Reply</button>
                      </form>
                  </div>
                  <% }); %>
                <% } %>
            </div>
          <% include ./partials/footer %>
    </body>
</html>